<div class="flex flex-col w-full p-2 overflow-hidden transition-shadow cursor-pointer movie-card-wrapper hover:shadow-2xl min-h-100 h-100">
    <div class="w-full h-60 max-h-60">
        <img loading="lazy" decoding="async" class="object-cover object-top w-full max-h-60 h-60" src="assets/images/profile.jpg" alt="movie poster">
    </div>
    <div class="flex flex-col justify-end">
        <h3 class="mt-1 text-lg font-bold text-ellipsis line-clamp-2">Harry Potter and the Order of the
            phenix</h3>
        <p class="mt-1 tracking-tight opacity-50 text-md text-ellipsis line-clamp-3">Lorem ipsum dolor sit
            amet consectetur adipisicing
            elit. Labore minus natus Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, laborum.
            Ab iste tenetur illum officia repudiandae iusto molestias qui ratione. Possimus harum voluptatum
            quidem nemo eos quasi fugiat aspernatur sequi!</p>
        <div class="flex flex-row justify-between mt-2 opacity-50 h-max text-md">
            <div class="flex flex-row justify-between">
                <div class="flex flex-row items-center mr-2 lg:mr-3 xl:mr-4">
                    <mat-icon [svgIcon]="'heroicons_solid:heart'" class="mr-1 icon-size-3"></mat-icon> 1200
                </div>
                <div class="flex flex-row items-center">
                    <mat-icon [svgIcon]="'heroicons_solid:star'" class="mr-1 icon-size-3"></mat-icon> 120
                </div>
            </div>

            <div class="flex flex-row items-center">
                <mat-icon [svgIcon]="'heroicons_solid:clock'" class="mr-1 icon-size-3"></mat-icon> 17/09/21
            </div>
        </div>
    </div>
</div>
