<!-- Loading bar -->
<movoo-loading-bar></movoo-loading-bar>

<!-- Navigation -->
<movoo-vertical-navigation class="movoo-vertical-navigation dark print:hidden z-9999 md:z-999"
    [mode]="isScreenSmall ? 'over' : 'side'" [name]="'mainNavigation'" [navigation]="navigation.default"
    [opened]="!isScreenSmall">

    <!-- Navigation header hook -->
    <ng-container movooVerticalNavigationHeader>
        <div class="flex-row px-[25px] h-[48px] items-end pointer-events-none flex" movooTitleBarHeader>
            <!-- Logo -->
            <div class="relative h-7 my-auto w-full ml-[-25px]">
                <img class="object-contain" ngSrc="assets/images/logo/logo-text-inverted.webp" fill alt="Movoo logo">
            </div>
        </div>
    </ng-container>

    <!-- Navigation footer hook -->
    <ng-container movooVerticalNavigationFooter>
        <footer class="flex items-center px-8 py-2 text-sm text-opacity-50 text-default">
            <a title="Project's Github" target="_blank" href="https://github.com/Lerado/movoo-app" class="group">
                <mat-icon
                    class="text-opacity-50 flex items-center icon-size-3.5 text-default group-hover:text-primary group-hover:text-opacity-100 transition-colors"
                    [svgIcon]="'feather:github'"></mat-icon>
            </a>
            <a title="LinkedIn" target="_blank" href="https://www.linkedin.com/in/darel-ngogang-00b8a6223/"
                class="group">
                <mat-icon
                    class="text-opacity-50 ml-3 flex items-center icon-size-3.5 text-default group-hover:text-primary group-hover:text-opacity-100 transition-colors"
                    [svgIcon]="'feather:linkedin'"></mat-icon>
            </a>
            <a title="Buy me a coffee" target="_blank" href="https://www.buymeacoffee.com/darelngogang" class="group">
                <mat-icon
                    class="text-opacity-50 ml-3 flex items-center icon-size-3.5 text-default group-hover:text-primary group-hover:text-opacity-100 transition-colors"
                    [svgIcon]="'feather:coffee'"></mat-icon>
            </a>
            <a title="Author's Github" target="_blank" href="https://github.com/Lerado"
                class="ml-auto text-center transition-colors hover:text-opacity-100">
                &copy; {{ currentYear }}
                <!-- made with <span class="text-red-500">&hearts;</span> by Lerado -->
            </a>
        </footer>
    </ng-container>

</movoo-vertical-navigation>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0 pt-[48px]">

    <!-- Navigation toggle button -->
    <button
        class="absolute left-0 flex items-center justify-center px-1 py-4 shadow-lg animate-bounce hover:transition-colors hover:duration-300 hover:bg-primary md:hidden top-1/2 bg-navbar z-999"
        (click)="toggleNavigation('mainNavigation')">
        <mat-icon class="text-white" [svgIcon]="'heroicons_outline:chevron-right'"></mat-icon>
    </button>

    <!-- Content -->
    <div class="flex flex-col flex-auto">
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!-- Footer -->
    <!--<div class="relative flex items-center justify-start w-full px-4 border-t flex-0 h-14 md:px-6 z-49 bg-card dark:bg-transparent print:hidden">
        <span class="font-medium text-default text-opacity-60">Movoo &copy; {{currentYear}}</span>
    </div>-->

</div>
