<div data-tauri-drag-region class="movoo-title-bar-container">
    <div data-tauri-drag-region class="movoo-title-bar-wrapper">

        <!-- App title and logo -->
        <div data-tauri-drag-region class="movoo-title-bar-header">
            <ng-content select="[movooTitleBarHeader]"></ng-content>
        </div>

        <div data-tauri-drag-region class="movoo-title-bar-content">

            <!-- Close, reduce and resize window -->
            <div *ngIf="platform !== 'browser'" class="movoo-title-bar-window-buttons">
                <div (click)="minimizeWindow()" class="movoo-title-bar-window-button button-minimize"></div>
                <div (click)="toggleMaximizeWindow()" class="movoo-title-bar-window-button button-toggle-maximize">
                </div>
                <div (click)="closeWindow()" class="movoo-title-bar-window-button button-close"></div>
            </div>

        </div>

    </div>
</div>
