<content-layout *ngIf="movie$ | async as movie">

    <div class="flex flex-col flex-auto">

        <!-- Header -->
        <div class=" h-90 lg:h-100 xl:h-128">
            <div class="flex flex-col w-full h-full bg-fixed bg-no-repeat bg-cover"
                [ngStyle]="{'background-image': 'url(' + (movie.backdrop_path | tmdbImageUrl:'original':'backdrop') + ')', 'background-position': 'center top'}">
                <div class="flex flex-col items-center w-full h-full bg-opacity-50 bg-top bg-default">
                    <div class="flex flex-col w-11/12 py-6 mx-auto mt-auto">
                        <h1 class="text-3xl font-bold text-white">{{ movie.title }}</h1>
                        <!-- Status, revenue, stats, adult, vote count, homepage, production companies -->
                        <div class="flex flex-row opacity-50 text-md">
                            <div class="flex flex-row items-center">
                                <mat-icon [svgIcon]="'heroicons_solid:heart'" class="mr-1 icon-size-3"></mat-icon>
                                {{ movie.popularity | number:'1.0-0' }}
                            </div>
                            <div class="flex flex-row items-center mx-2">
                                <mat-icon [svgIcon]="'heroicons_solid:star'" class="mr-1 icon-size-3"></mat-icon>
                                {{ movie.vote_average }} / {{ movie.vote_count }}
                            </div>
                            <!-- Movie status component -->
                            <div class="flex flex-row items-center text-green-600">
                                <mat-icon [svgIcon]="'heroicons_solid:clock'" class="mr-1 text-green-600 icon-size-3">
                                </mat-icon>
                                {{ movie.status }}
                            </div>
                        </div>
                        <div class="flex flex-row opacity-50 text-md">
                            <div class="flex flex-row items-center mr-2 text-green-600">
                                <mat-icon [svgIcon]="'heroicons_solid:login'" class="mr-1 text-green-600 icon-size-3">
                                </mat-icon>
                                {{ movie.revenue | currency:'USD':'symbol':'1.0-0' }}
                            </div>
                            <div class="flex flex-row items-center text-red-600">
                                <mat-icon [svgIcon]="'heroicons_solid:logout'" class="mr-1 text-red-600 icon-size-3">
                                </mat-icon>
                                {{ movie.budget | currency:'USD':'symbol':'1.0-0' }}
                            </div>
                        </div>
                        <a *ngIf="movie.homepage" [href]="movie.homepage"
                            class="flex flex-row items-center transition-colors opacity-50 text-md hover:text-primary">
                            <mat-icon [svgIcon]="'heroicons_solid:link'" class="mr-1 icon-size-3"></mat-icon>
                            {{ movie.homepage }}
                        </a>
                        <div class="flex mt-10">
                            <ng-container *ngFor="let company of movie.production_companies">
                                <img *ngIf="company.logo_path; else noCompanyLogo" [matTooltip]="company.name"
                                    [matTooltipPosition]="'above'"
                                    class="inline-block object-contain w-20 h-10 p-1 mr-4 bg-white opacity-50 hover:opacity-100 hover:transition hover:shadow hover:duration-500"
                                    [src]="company.logo_path | tmdbImageUrl:'w92':'logo'" alt="">
                                <ng-template #noCompanyLogo>
                                    <div [matTooltip]="company.name" [matTooltipPosition]="'above'"
                                        class="flex items-center justify-center w-20 h-10 p-1 mr-4 bg-white opacity-50 hover:opacity-100 hover:transition hover:shadow hover:duration-500">
                                        <mat-icon [svgIcon]="'heroicons_outline:exclamation-circle'" class="">
                                        </mat-icon>
                                    </div>
                                </ng-template>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main -->
        <div class="flex flex-col flex-auto p-8">

            <!-- Overview and infos -->
            <div class="flex flex-col sm:flex-row sm:justify-between">

                <div class="flex flex-col w-full sm:w-5/12">
                    <h2 class="mb-4 text-2xl font-bold text-white">Overview</h2>
                    <p class="mb-2 italic tracking-tight opacity-60">{{ movie.tagline }}</p>
                    <p class="tracking-tight opacity-60">{{ movie.overview }}</p>
                </div>

                <div class="flex flex-col w-full p-6 mt-4 sm:w-6/12 sm:mt-0 bg-navbar">
                    <h2 class="text-2xl font-bold text-white">Informations</h2>

                    <div class="grid w-full grid-cols-12 mt-4 gap-y-2">

                        <div class="col-span-5">Run time</div>
                        <div class="col-span-7">{{ (movie.runtime * 60 * 1000) | date:'h \'hrs\' m \'mins\'' }}</div>

                        <div class="col-span-5">Release date</div>
                        <div class="col-span-7">{{ movie.release_date | date:'longDate' }}</div>

                        <div class="col-span-5">Genres</div>
                        <div class="col-span-7">{{ getGenres(movie).join(', ') }}</div>

                        <div class="col-span-5">Director</div>
                        <div class="col-span-7">{{ getDirectorName() }}</div>

                        <div class="col-span-5">Production countries</div>
                        <div class="col-span-7">{{ getProductionCountries(movie).join(', ') }}</div>
                    </div>
                </div>
            </div>

            <!-- Actors -->
            <div class="flex flex-col w-full mt-8">

                <div class="flex flex-row justify-between w-full">
                    <h2 class="text-2xl font-bold text-white">Actors</h2>
                    <div class="flex flex-row justify-between">
                        <button (click)="scrollX(actorsContainer, -scrollStep)" mat-icon-button
                            aria-label="Scroll left">
                            <mat-icon [svgIcon]="'heroicons_solid:chevron-left'" class="text-white icon-size-6">
                            </mat-icon>
                        </button>

                        <button (click)="scrollX(actorsContainer, scrollStep)" mat-icon-button
                            aria-label="Scroll right">
                            <mat-icon [svgIcon]="'heroicons_solid:chevron-right'" class="text-white icon-size-6">
                            </mat-icon>
                        </button>
                    </div>
                </div>

                <horizontal-scroll-container (containerRef)="actorsContainer = $event">
                    <div class="flex flex-row gap-[16px] mt-4">
                        <div *ngFor="let actor of credits.cast" class="flex flex-col min-w-[185px]">
                            <img *ngIf="actor.profile_path; else noActorProfile" class="w-full h-auto"
                                [src]="actor.profile_path | tmdbImageUrl:'w185':'profile'" alt="">
                            <ng-template #noActorProfile>
                                <div class="flex items-center justify-center w-full h-[278px] bg-slate-600">
                                    <mat-icon [svgIcon]="'heroicons_outline:exclamation-circle'" class="">
                                    </mat-icon>
                                </div>
                            </ng-template>
                            <h3 class="mt-1 text-lg font-bold text-ellipsis line-clamp-1">{{ actor.name }}</h3>
                            <p class="mt-1 text-md opacity-60">{{ actor.character }}</p>
                        </div>
                    </div>
                </horizontal-scroll-container>

            </div>

            <!-- Collection -->
            <div *ngIf="movie.belongs_to_collection"
                [ngStyle]="{'background-image': 'url(' + (movie.belongs_to_collection.backdrop_path| tmdbImageUrl:'w1280':'backdrop') + ')'}"
                class="w-full mt-8 bg-fixed bg-no-repeat bg-cover rounded-lg shadow-lg bg-card h-52">

                <div class="flex flex-col justify-center w-full h-full p-4 bg-opacity-50 bg-default">
                    <h2 class="text-2xl font-bold text-white">Part of the {{ movie.belongs_to_collection.name }}</h2>
                    <button mat-flat-button class="w-1/6 p-2 mt-6 text-white bg-black hover:transition-colors hover:duration-500 rounded-3xl hover:bg-primary">Visit the collection</button>
                </div>

            </div>

        </div>
    </div>

</content-layout>
