@if (loading() === true && !movies().length) {
<!-- Loading template -->
<ng-content select="[list-loading]"></ng-content>
@if (!loadingListTemplate) {
<ng-template [ngTemplateOutlet]="defaultLoadingListTemplate"></ng-template>
}
}

<!-- Movie cards -->
@for (movie of movies(); track movie.id) {
@defer (when movies().length) {
<movie-card @fadeInBottom (selected)="onMovieSelected($event)" [movie]="movie"></movie-card>
}
}
@empty {
<ng-content select="[list-empty]"></ng-content>
@if (!emptyListTemplate) {
<ng-template [ngTemplateOutlet]="defaultEmptyListTemplate"></ng-template>
}
}

<!-- Tail -->
@if (loading() === true && movies().length) {
<ng-content select="[list-loading]"></ng-content>
@if (!loadingListTemplate) {
<ng-template [ngTemplateOutlet]="defaultLoadingListTemplate"></ng-template>
}
}
<ng-content select="[list-tail]"></ng-content>

<!-- Default loading template -->
<ng-template #defaultLoadingListTemplate>
    @for (loader of loadingSkeletonsIds; track $index) {
    @defer (when loading() === true) {
    <movie-loader @fadeIn @fadeOut></movie-loader>
    }
    }
</ng-template>

<!-- Default empty list template -->
<ng-template #defaultEmptyListTemplate>
</ng-template>
