:host {
    display: block;
    width: 100%;
}
.multi-search-bar-results-container {
    mat-option.mat-mdc-option {
        span:has(> multi-search-bar-result) {
            width: 100%;
        }
        span:has(> mat-spinner) {
            margin: auto !important;
        }
    }
}
