<content-layout [infiniteSrollOptions]="{ infiniteScrollDistance: 0.5 }" (scrolled)="onContentScrolled()">

    <div class="flex flex-col flex-auto">

        <div *ngIf="featuredMovie" class=" h-90 lg:h-100 xl:h-120">
            <movie-banner [movie]="featuredMovie"></movie-banner>
        </div>

        <div class="flex flex-col items-center p-4">
            <ng-container *ngIf="movies$ | async as movies">
                <movies-grid (selected)="showDetails($event)" [movies]="movies.slice(1)">
                    <ng-container *ngIf="isLoadingNext">
                        <movie-loader *ngFor="let item of repeat(1, 20)"></movie-loader>
                    </ng-container>
                </movies-grid>
            </ng-container>
        </div>

    </div>


</content-layout>
