<!-- Title bar -->
<movoo-title-bar>

    <!-- Header -->
    <div class="flex flex-row w-40 h-full pointer-events-none md:hidden" movooTitleBarHeader>

        <!-- Logo -->
        <div class="w-full h-full">
            <img class="object-cover ml-[-25px] h-full" loading="lazy" decoding="async" src="assets/images/logo/logo-text-inverted.png" alt="Movoo logo">
        </div>

        <!-- Name -->
        <!-- <div class="flex flex-col justify-center text-[18px] font-semibold tracking-wide">
            Movoo
        </div> -->

    </div>

</movoo-title-bar>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Empty layout -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<empty-layout *ngIf="layout === 'empty'"></empty-layout>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Layouts with vertical navigation -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<!-- Classy -->
<classy-layout *ngIf="layout === 'classy'"></classy-layout>
